* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}

.display {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

hr {
  border: none;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    90deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(112, 135, 62, 1) 50%,
    rgba(18, 18, 18, 1) 100%
  );
  height: 2px;
  width: 80%;
}
